
*{
    box-sizing: border-box;
}

body{
 height: 100vh;
 overflow: hidden;
 margin: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: rgb(161,100,223);
 text-align: center;
 flex-wrap: wrap;
}

.btn{
background: rebeccapurple;
border-radius: 5px;
border: none;
color: #fff;
margin: 1rem;
padding: 1.5rem 3rem;
font-size: 1.2rem;
cursor: pointer;
}

.btn:hover{
    opacity: 0.7;
}

.btn:focus{
    outline: none;
}

